.listGrid{display:flex; flex-direction: row; flex-wrap: wrap;}
.listGrid > li {width:25%;}
.listGrid > li .listGrid__element---image{position: relative;}
.listGrid > li .listGrid__element---image img{display:block; width:100%;}

.listGrid__element{position: relative;}
.listGrid__element button.removeBtn{border: 0; background-color: transparent; position: absolute;}
.listGrid__element button.removeBtn svg{height:24px}
.listGrid__element button.removeBtn span{display: none;}
.listGrid__element---description h2{font-size:14px}
.listGrid__element---description p, .listGrid__element---description dl{display:flex; padding:0; margin:0; font-size:14px; justify-content: center; align-items: center;}
.listGrid__element---description dt.color{font-size:6px !important}
.listGrid__element---description dt{font-size:12px; padding-left:12px;}

.listGrid__element---sizePicker{margin-top:16px;position: relative;}

.listGrid__element---sizePicker button.selectSize{ width: 100%; height: 50px; background-color: transparent; border: 1px #b3b3b3 solid; text-align: left; margin-bottom:8px; padding:16px; font-size: 14px;}
.listGrid__element---sizePicker button.selectSize.one{border: 1px #b3b3b3 solid;}
.listGrid__element---sizePicker button.selectSize.selectable{position:relative; border:1px solid #000}
.listGrid__element---sizePicker button.selectSize.selectable .selBtn{display:inline-block; width:10px; height:10px; border-left: 1px solid #000; border-bottom: 1px solid #000; position: absolute; right:16px; transform: rotate(-45deg);}
.listGrid__element---sizePicker button.selectSize.selectable .selBtn.selected{top:20px; transform: rotate(135deg);}
.listGrid__element---sizePicker button.addBag{ width: 100%; height: 50px; background-color: #000; color:#fff }

.listGrid__element---sizePicker .Dropdown {margin-top:0; border: 1px #000 solid; position: absolute; top:58px; width: 100%; background-color: #fff; z-index: 2;}
.listGrid__element---sizePicker .Dropdown li > div{width: 100%; background-color: transparent; text-align: left; margin-top:0; padding:16px; font-size: 14px;}
.listGrid__element---sizePicker .Dropdown li > div:hover{background-color: #e6e6e6; }

.listGrid.arket button.removeBtn{width:48px; height:48px; border: 0; background-color: transparent; position: absolute; top:0; right:0}
.listGrid.arket > li {padding:12px}

.listGrid.stories button.removeBtn{width:16px; height:16px; border: 0; background-color: transparent; position: absolute; bottom:26px; right:26px}
.listGrid.stories .priceValue{font-weight: bold;}
.listGrid.stories .listGrid__element---description h2{font-size:14px; text-align: center; font-weight: normal;}
.listGrid.stories button.addBag{font-size:14px;}
.listGrid.stories > li {padding:2px}

.favorite.stories .title {
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', 'KoPubBatang';
    font-weight: bold !important;
  }
.favorite.stories .title a:first-child {
    font-size: 24px;
    font-size: 22px;
    font-family: 'Times New Roman', 'KoPubBatang';
    font-weight: bold !important;
  }
  @media (max-width: 1024px) {
    .favorite.stories .title {
      font-size: 22px;
      font-size: 16px;
      font-family: 'Times New Roman', 'KoPubBatang';
      font-weight: bold !important;
    }
    .favorite.stories .title a:first-child {
      font-size: 24px;
      font-size: 16px;
      font-family: 'Times New Roman', 'KoPubBatang';
      font-weight: bold !important;
    }
  }

  
@media (max-width:787px) {
    .listGrid > li {width:49%;}
}