.favorite {
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    > h2 {
      font-weight: bold;
    }
    > p {
      text-align: center;
    }
    > button {
      padding: 5px 50px;
      background-color: black;
      color: white;
    }
  }
  ul {
    row-gap: 40px;
    justify-content: space-between;
    li {
      padding: 0px;
      flex-basis: calc(50% - 4px);
    }
  }
}

.customModal {
  > p {
    justify-content: center;
  }
}

.heartIcon {
  position: absolute;
  top: 0;
  right: 16px;
  height: 16px;
  width: 17px;
}
